@import '/src/assets/styles/index.scss';

.card {
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 0.75rem;

  border-radius: 0.5rem;
  background: $gray-900;

  padding: 0.75rem;

  &__checkbox {
    display: grid;
    grid-area: 1 / 1 / 5 / 2;
    flex-shrink: 0;
    place-items: center;

    width: 1.5rem;
    height: 1.5rem;

    input {
      outline: none;
      background: none;
      width: 1rem;
      height: 1rem;

      accent-color: $gray-700;
    }
  }

  &__title {
    color: $gray-100;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 19px; /* 135.714% */
  }

  &__subtitle {
    margin-top: 0.75rem;

    color: $gray-100;
    font-weight: 300;
    font-size: 0.625rem;
    line-height: 14px; /* 140% */
  }

  &__address {
    display: flex;
    column-gap: 0.625rem;
    align-items: center;

    margin-top: 0.75rem;

    svg {
      flex-shrink: 0;
      width: 1rem;
      height: 1rem;

      color: $primary-600;
    }

    span {
      color: $gray-100;
      font-weight: 400;
      font-size: 0.625rem;
      line-height: 14px; /* 140% */
    }
  }

  &__more-button {
    grid-area: 1 / 3 / 5 / 4;
    width: 2rem;
    height: 2rem;

    svg {
      flex-shrink: 0;
      width: 1.25rem;
      height: 0.25rem;

      color: $gray-100;
    }
  }
}
