@import '/src/assets/styles/index.scss';

@mixin mobile() {
  @media screen and (max-width: 768px) {
    @content;
  }
}

.button {
  display: flex;
  column-gap: 0.75rem;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  outline: none;
  border: 1px solid $primary-700;
  border: none;

  border-radius: 0.75rem;
  background: $primary-700;
  padding-inline: 1.5rem;
  padding-block: 0.75rem;

  width: 100%;
  font-family: inherit;

  @include mobile() {
    border-radius: 0.5rem;
    padding: 0.75rem 1.5rem;
  }

  &.outline-red {
    border: 1px solid $danger-700;
    background: none;
  }

  &.outline-blue {
    border: 1px solid $primary-600;
    background: none;
  }

  &.green {
    border: 1px solid $success-600;
    background: $success-600;
  }

  &.gray {
    border: 1px solid $gray-800;
    background: $gray-800;
  }

  &.red {
    border: 1px solid $danger-600;
    background: $danger-600;
  }

  &.loading {
    opacity: 0.5;
  }

  &__text {
    @include textSemibold16;

    color: $gray-100;

    @include mobile() {
      font-weight: 600;
      font-size: 0.875rem;
      line-height: 17px; /* 141.667% */
    }
  }

  svg {
    flex-shrink: 0;
    width: 1.5rem;
    height: 1.375rem;
    color: $gray-100;
  }
}
