$gray-100: #eef0f4;
$gray-200: #dde1e8;
$gray-300: #cbd3dd;
$gray-400: #bac4d1;
$gray-500: #a9b5c6;
$gray-600: #7d8fa9;
$gray-700: #586a84;
$gray-800: #3b4758;
$gray-900: #1d232c;
$gray-1000: #161b21;

$primary-100: #e5f3ff;
$primary-500: #7dc1ff;
$primary-600: #319dff;
$primary-700: #0077e4;
$primary-800: #005098;

$purple-400: #b142f5;

$danger-400: #ff97b4;
$danger-600: #ff316a;
$danger-700: #e4003f;

$notification_red: #f21673;

$yellow-400: #ffcd6a;
$yellow-600: #ffaa04;

$success-300: #60f3c6;
$success-400: #2befb3;
$success-600: #0da678;
